@{
    ViewData["Title"] = "Terms and Conditions";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <p><h2>We are not responsible for any loss in digital currency</h2></p>
    <p style="font-size:14px;">
        TRTLFarm is a farming simulator and idle game played with and for TurtleCoin using TRTL-Services. The more animals you have, the more product 
        they produce. Buy more animals with your trtl to multiply your production, or cash them out for TurtleCoin!
    </p>
    <p>If you reside in a location where lottery, gambling, or betting over the internet is illegal, please do not click on anything related
        to these activities on this site.  You must be 21 years of age to click on any gambling related items even if it is legal to do so 
        in your location.  Recognising that the laws and regulations involving online gaming are different everywhere, players are advised to check 
        with the laws that exist within their own jurisdiction or region to ascertain the legality of the activities which are covered.</p>
    <p>When you start playing a game, please take note that online gambling and lottery is an entertainment vehicle and that it carries with 
        it a certain degree of financial risk.  Players should be aware of these risks and govern themselves accordingly.</p>
    <p><h2>We are not responsible for any loss in digital currency</h2></p>
</div>