@using TRTLFarm.ViewModels
@model FooterStats

<div class="footer-copyright">
    <span style="float:left;">Active players: @Model.ActivePlayers</span>
    <span style="float:right;">Game balance: @Model.WalletBalance TRTL</span>
</div>
